/* NavBar.css */
.navbar {
  background-color: #333; 
  color: #fff; 
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-item {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo {
  width: 40px;
  height: 40px; 
  margin-right: 10px;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-end {
  display: flex;
}

.navbar-item:hover {
  text-decoration: underline; /
}

.badge {
  background-color: #ff5722; 
  color: #fff; 
  border-radius: 50%; 
  padding: 4px 8px; 
  margin-left: 5px; 
  font-size: 14px; 
}
